.wrap {
  --bg-sidebar: #ccc;

  height: 100vh;
  width: calc(100vw / 5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--bg-sidebar);

  .siderbar-item {
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid black;
  }

  .close-and-open {
    width: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 8px;
    top: 0;
    right: -26px;
    background-color: var(--bg-sidebar);
    border-radius: 0 50% 50% 0;
    cursor: pointer;
  }
}
.close-sidebar {
  left: calc(-100vw / 5);
}

.open-sidebar {
  left: 0;
}
